.rootInput {
  background-color: #F8FAFC;
  height: 42px !important;
  padding: 0 20px;
  border: 1px solid #CBD5E1;

  &::placeholder {
    font-weight: 700;
  }
}

.rootLabel {
  margin-bottom: 4px;
} 